/* body {
    background-color: red;
} */

.splide__arrow {
    border-radius: 18px!important;
    background-color: #1B5130!important;
    padding-left: 10px!important;
    padding-right: 10px!important;
    height: 40px!important;
    width: 60px!important;
    opacity: 1!important;
    color: #fff!important;
}

.splide__arrow svg {
    height: 30px!important;
    width: 30px!important;
    fill: #fff!important;
}

.splide__arrows {
    margin-top: 10px;
}

.bottom_sections {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    /* margin-top: 100px; */
}

.bottom_sections div {
    text-align: center;
}

.bottom_sections div img {
    transition: ease('cubic-bezier(.17,.67,.83,.67)');
}

@media (max-width:835px) {
    .first,
    .third {
        display: none;
    }
}

img {
    max-width: 100%;
}

.plane {
    max-height: 230px;
}

.splide {
    margin-top: -90px;
}

@media(max-width:1270px) {
    .plane {
        max-height: 240px;
    }
    .splide {
        margin-top: -50px;
    }
}

@media(max-width:1165px) {
    .plane {
        max-height: 240px;
    }
    .splide {
        margin-top: -80px;
    }
}

@media(max-width:1149px) {
    .plane {
        max-height: 240px;
    }
    .splide {
        margin-top: -60px;
    }
    .splide__slide img {
        width: 80%!important;
    }
}

@media(max-width:1030px) {
    .plane {
        max-height: 240px;
    }
    .splide {
        margin-top: -50px;
    }
    .splide__slide img {
        width: 60%!important;
    }
}

@media(max-width:992px) {
    .plane {
        max-height: 150px!important;
    }
    .splide {
        margin-top: -40px;
    }
    .splide__slide img {
        width: 60%!important;
    }
}

@media(max-width:867px) {
    .plane {
        max-height: 150px!important;
    }
    .splide {
        margin-top: -30px;
    }
    .splide__slide img {
        width: 60%!important;
    }
}

@media(max-width:834px) {
    .plane {
        max-height: 200px!important;
    }
    .splide {
        margin-top: -30px;
    }
    .splide__slide img {
        width: 40%!important;
    }
}

@media(max-width:822px) {
    .plane {
        max-height: 200px!important;
    }
    .splide {
        margin-top: -40px;
    }
    .splide__slide img {
        width: 50%!important;
    }
    .plane {
        margin-top: -83px!important;
    }
}

@media(max-width:767px) {
    .plane {
        max-height: 200px!important;
    }
    .splide {
        margin-top: -40px;
    }
    .splide__slide img {
        width: 50%!important;
    }
    .plane {
        margin-top: -1px!important;
    }
}

@media (max-width: 700px) {
    .art {
        width: 50%;
        margin-top: 10px;
    }
}

@media (max-width:637px) {
    .splide__arrow {
        border-radius: 18px!important;
        background-color: #1B5130!important;
        padding-left: 5px!important;
        padding-right: 5px!important;
        height: 20px!important;
        width: 40px!important;
        opacity: 1!important;
        color: #fff!important;
    }
    .splide__arrow svg {
        height: 19px!important;
        width: 19px!important;
        fill: #fff!important;
    }
    .icon_skhaftini {
        width: 200px!important;
    }
    .top {
        /* min-height: 400px; */
        /* background-image: url('./new_assets/top.png'); */
        height: auto;
        overflow: hidden;
    }
    .top img {
        transform: scale(1.2);
        /* display: none; */
    }
    .plane {
        margin-top: -60px!important;
    }
}

@media(max-width:580px) {
    .plane {
        max-height: 200px!important;
    }
    .splide {
        margin-top: -30px;
    }
    .splide__slide img {
        width: 60%!important;
    }
    .plane {
        margin-top: -50px!important;
    }
}

@media (max-width:500px) {
    .div_dark_bg {
        min-height: 5px!important;
    }
}

@media(max-width:486px) {
    .plane {
        max-height: 200px!important;
    }
    .splide {
        margin-top: -20px;
    }
    .splide__slide img {
        width: 60%!important;
    }
    .plane {
        margin-top: -50px!important;
    }
}

@media(max-width:355px) {
    .plane {
        max-height: 200px!important;
    }
    .splide {
        margin-top: -20px;
    }
    .splide__slide img {
        width: 80%!important;
    }
    .plane {
        margin-top: -20px!important;
    }
}